{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": [
        "javascript",
        "css", "js-templates",
        "html", "jsx",
        "jsdoc",
        "js-extras" // Richer syntax highlighting
      ],
      "plugins": [
        "line-numbers"
      ],
      "css": true // Needed to get line-numbers working
    }]
  ]
}