node_modules/
.cache/
public/*
!public/assets/debug
!public/assets/geomorph
!public/graph
!public/icon
!public/npc
!public/pics
!public/symbol
!public/favicon.ico
!public/*.css.map
tsconfig.tsbuildinfo
.DS_Store