node_modules/
.cache/
public/*
!public/assets/debug
!public/assets/geomorph
!public/assets/graph
!public/assets/icon
!public/assets/npc
!public/assets/pics
!public/assets/symbol
!public/favicon.ico
!public/*.css.map
tsconfig.tsbuildinfo
.DS_Store