node_modules/
.cache/
public/*
!public/favicon.ico
!public/*.css.map
tsconfig.tsbuildinfo
.DS_Store
Thumbs.db

media/Geomorphs
media/GeomorphsHighRes
media/CustomTiles
media/CustomTilesHighRes
media/Symbols
media/SymbolsHighRes
media/NPC/spriter/*
!media/NPC/spriter/README.md
media/*.zip
media/*.pdf
media/*.dwg
media/*.ctb
media/*.url
media/**/*.png
!media/used-symbols/*.png
!media/used-geomorphs/*.png
!media/hull-sides/*.png
!media/npc/**/*.png
