body.dark-mode {
  --page-background-color: #000;
  --page-font-color: #ccc;
  --page-header-color: #aaa;
  --page-title-color: #aaa;
  --page-blockquote-border-color: #444;
  --page-link-color: #bb7;
  --article-border-color: #444;
  --aside-background-color: #333;
  
  --swiper-pagination-color: #ddc;
  --swiper-pagination-bullet-inactive-color: #777;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

body.dark-mode figure.carousel span.icon, body.dark-mode aside span.icon {
  filter: invert(100%) brightness(1);
}
