body.dark-mode {
  /* --page-background-color: #000; */
  --nav-background: #222;
  --nav-selected-background: #333;
  --page-background: #000;
  --page-font-color: #ccc;
  --page-header-color: #aaa;
  --page-title-color: #aaa;
  --page-blockquote-border-color: #444;
  --page-link-color: #dd0;
  --page-border-color: #444;
  --aside-background-color: #333333aa;
  
  --swiper-pagination-color: #ddc;
  --swiper-pagination-bullet-inactive-color: #777;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

/** @see cssName.ignoreDark */
body.dark-mode span.icon:not(.ignore-dark) {
  filter: invert(100%);
}

body.dark-mode nav + div.top-bar {
  border-bottom: thin var(--page-border-color) solid;
}

body.dark-mode div.swiper-lazy-preloader {
  --swiper-preloader-color: #fff;
}
