:root {
  --icon-size-base: 13px;
  --icon-size-small: 11px;
}

.icon.hash-icon::after {
  background-image: url('/icon/hash-icon.svg');
}

.icon.ext-link::after {
  background-image: url('/icon/ext-link.svg');
}

.icon.info-icon::after {
  background-image: url('/icon/info-icon.svg');
}

.icon.light-bulb::after {
  background-image: url('/icon/light-bulb.svg');
}

.icon.refresh::after {
  background-image: url('/icon/refresh.svg');
}

.icon.compress::after {
  background-image: url('/icon/compress.svg');
}

.icon.expand::after {
  background-image: url('/icon/expand.svg');
}

.icon.cross-circle::after {
  background-image: url('/icon/cross-circle.svg');
}
