:root {
  --icon-size-base: 13px;
  --icon-size-small: 11px;
}

.icon::after {
  display: flex;
  align-items: center;
  content: '';

  background-size: var(--icon-size-base) var(--icon-size-base);
  height: var(--icon-size-base);
  width: var(--icon-size-base);
}

.icon.invert-icon::after {
  filter: invert(100%);
}
.icon.inline-icon {
  display: inline-flex;
}
.icon.inline-icon::after {
  display: flex;
  align-items: stretch;
  margin: 0 2px;
}

.icon.small-icon::after {
  background-size: var(--icon-size-small) var(--icon-size-small);
  height: var(--icon-size-small);
  width: var(--icon-size-small);
}

.icon.hash-icon::after {
  background-image: url('/icon/hash-icon.svg');
}

.icon.ext-link::after {
  background-image: url('/icon/ext-link.svg');
}

.icon.info-icon::after {
  background-image: url('/icon/info-icon.svg');
}

.icon.light-bulb::after {
  background-image: url('/icon/light-bulb.svg');
}

.icon.refresh::after {
  background-image: url('/icon/refresh.svg');
}

.icon.compress::after {
  background-image: url('/icon/compress.svg');
}

.icon.expand::after {
  background-image: url('/icon/expand.svg');
}

.icon.cross-circle::after {
  background-image: url('/icon/cross-circle.svg');
}
